.App {
  display: flex;
  flex-wrap: wrap; /*this makes it not one straight line*/
}
.movies {
  padding-top: 70px;
  width: 40%;
}

.MuiCard-root-78 {
  overflow: initial !important;
  margin-top: 64px;
  /*margin:auto;*/ /*mobile first, desktop second!*/
}

@media screen and (max-width: 600px) {
  .MuiCard-root-78 {
    overflow: initial !important;
    margin-top: 64px;
    margin:auto; /*mobile first, desktop second!*/
  }
}
